body{
    text-align: center;
    background-color:rgb(68, 214, 15)
}
h1{
    font-size: xx-large;
    color: rgb(192, 40, 40);
}
h3{
    font-size: large;
    color: rgb(0, 4, 255);
}

.panqueca{
    width: 25%;
}

.abelha{
    color: navy;
}

h2{
    font-size: x-large;
    color: rgb(225, 86, 11);
}