body{
    text-align: center;
    background-color:rgb(189, 133, 23)
}
h1{
    font-size: xx-large;
    color: rgb(192, 40, 40);
}
h3{
    font-size: large;
    color: rgb(62, 127, 211);
}

{
 .bolo de chocolate
    width: 25%;
}

h2{
    font-size: x-large;
    color: rgb(225, 86, 11);
}
.MORAIS{
    color: rgb(76, 170, 87);
}